/target
/Cargo.lock
/.vscode
/config.toml
/world
/galaxworld
/worlder
/src/game/aa_bounding_box.rs
/worlderest
/libplugintest*
/New World
/DropboxWorld
/EpicWorld
/epicpog
/testworld
/epicpogold
/testworld2